.user_products
{
  position: fixed;
  top: 30vh;
  height: 70%;
  width: 100vw;
  width: 100%;
  box-shadow: 1vh 1vh 2vh #707070;
}
.user_products .container
{
  text-align: center;
  padding: 4vh 0 0;
  margin: 0 0 4vh;
  box-shadow: 1vh 1vh 2vh #707070;
}
.user_products > .header
{
  display: block;
  position: absolute;
  z-index: 5;
  top: 0vh;
  text-align: center;
  width: 80%; left: 10%; top: -4vh;
  background: white;
  box-shadow: 0.2vh 0.2vh 1vh #707070; border-radius: 20px;
  height: 6vh;
  font-size: 1.2em; line-height: 6vh;
}
.user_products  > .closer
{
  top: -4vh !important;
  right: 10% !important;
  margin: 0 !important;
  border-left: 1px solid #707070; box-shadow: none;
}
.user_products .container p
{
  font-weight: bold;
}
.user_products .container hr
{
  border-color: white;
  outline: none;
  width: 80%; margin: 1vh auto;
}
/* okno produktu */
.user_products .container > div
{
  display: grid;
  grid-template-columns: 30% 1fr;
  width: 90%;
  margin: auto;
  text-align: left !important;
  box-shadow: 0.5vh 0.5vh 2vh lightgrey;
  padding: 1vh 0;
}
.user_products .container img
{
  max-width: 90%;
  margin-left: 5%;
}
.user_products .container .product_info
{
  height: 50%;
  text-align: center;
}
/* autor */
.user_products .container .product_info div:nth-child(1)
{
  font-weight: bold;
}
/* tytuł */
.user_products .container .product_info div:nth-child(2)
{

}
/* stan */
.user_products .container .product_info div:nth-child(3)
{
  font-style: italic;
}
.user_products .container .product_actions
{
  height: 50%;
}
.user_products .container .product_actions p
{
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
  height: 30%;
}
/* przeciski */
.user_products .container .product_actions .button
{
  display: table;
  margin: -2px 1vw 0 !important;
  float: left;
  height: 50%;
}
.user_products .container .product_actions div
{
  display: table-cell;
  vertical-align: middle;
  font-size: 0.9em;
}
.user_products .container .product_actions div:nth-child(2)
{
  width: 70% !important;
  background: #9BD7FF; border-color: #9BD7FF;
  color: white;
}
.user_products .container .product_actions div:nth-child(3)
{
  width: 20% !important;
}
