{% block add %}
    <!-- div do tworzenia ogłoszeń -->
    <div class="add_product tab">
        <div class="header">Dodawanie ogłoszenia</div>
        <div class="closer"><i class="fas fa-times"></i></div>
        <div class="container">
            <p>Gatunek</p>
            <select id="createGenreSelect" name="genre" required></select>

            <p>Stan książki</p>
            <select id="createConditionSelect" name="genre" required></select>

            <p>Lokalizacja</p>
            <select id="createLocationSelect" name="genre" required></select>

            <p>Dane oferty</p>
            <hr/>
            <input id="createTitle" type="text" value="" placeholder="Tytuł książki...">
            <input id="createAuthor" type="text" value="" placeholder="Autor/autorzy książki...">
            <input id="createDescription" type="text" value="" placeholder="Opis książki...">
            <input multiple type="file" class="form-control-file" id="fileInput">
            <div id="createSubmit" class="button">Dodaj produkt</div>
        </div>
    </div>
{% endblock %}