{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center" style="margin-top: 35px;">
        <section class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
            <div class="card-deck col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="newPasswordField">Password</label>
                                <input type="password" name="password" class="form-control" id="newPasswordField" placeholder="New password">
                                <div id="newPasswordFeedback" class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="repeatNewPasswordField">Password</label>
                                <input type="password" name="password" class="form-control" id="repeatNewPasswordField" placeholder="Repeat new password">
                                <div id="repeatNewPasswordFeedback" class="invalid-feedback">Passwords does not match.</div>
                            </div>
                            <button id="submit" type="submit" value="Login" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#newPasswordField, #repeatNewPasswordField').on('keyup', function() {
            $(this).removeClass('is-invalid');

            let passwordField = $('#newPasswordField');
            let repeatPasswordField = $('#repeatNewPasswordField');
            let submit = $('#submit-button');

            if (passwordField.val() === repeatPasswordField.val()) {
                submit.removeAttr('disabled');
                repeatPasswordField.removeClass('is-invalid');
            } else {
                submit.attr('disabled', 'disabled');
                repeatPasswordField.addClass('is-invalid');
            }
        });

        $('#submit').click(function(e) {
            e.preventDefault();

            let button = $(this);
            button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

            let newPasswordField = $('#newPasswordField');

            let payload = {
                newPassword: newPasswordField.val()
            };

            $.ajax({
                url: '{% url 'apiChange' %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    payload: JSON.stringify(payload),
                },
                dataType: 'json',
                success: function(data) {
                    console.log(data.redirect);
                    window.location = data.redirect;
                },
                error: function(data) {
                    let err = JSON.parse(data.responseText);
                    $('#newPasswordFeedback').text(err.desc);
                    $('#newPasswordField').addClass('is-invalid');
                    button.html('Submit');
                },
            });
        })
    </script>
{% endblock %}