{%  extends 'base.html' %}

{% block style %}
    <style>
        .card-img-top {
            flex-grow: 1;
            object-fit: contain;
        }

        .card-body {
            flex-grow: 0;
        }

        .row > div[class*='col-'] {
            display: flex;
            flex: 1 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="card-deck">
            {% for offer in offers %}
                <div class="card col-xl-2 col-lg-3 col-md-4 col-md-12">
                    <img src="https://via.placeholder.com/600x500"
                         class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/">{{ offer.title }}</a>
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Autor: {{ offer.author }}</li>
                        <li class="list-group-item">Wydanie: {{ offer.description }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}