{% block login %}
    <div class="login tab">
        <div class="header">Logowanie</div>
        <div class="closer"></div>
        <div class="container">
            <form id="login" action="{% url 'apiLogin' %}">
                <div>
                    <div class="form-line-holder">
                        <input id="loginEmail" type="email" placeholder="Email" required>
                    </div>
                    <div class="form-line-holder">
                        <input id="loginPassword" type="password" placeholder="Password" required>
                    </div>
                </div>
                <p class="p_wrong">Niepoprawnie wpisane dane.</p>
                <button id="loginSubmit" class="button" type="submit" value="Zaloguj">Zaloguj się</button>
            </form>
        </div>
    </div>
{% endblock %}