{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center" style="margin-top: 35px;">
        <section class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
            <div class="card-deck col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="usernameField">Username</label>
                                <input type="text" class="form-control" id="usernameField" name="username" placeholder="Enter username"/>
                            </div>
                            <div class="form-group">
                                <label for="passwordField">Password</label>
                                <input type="password" name="password" class="form-control" id="passwordField"
                                       placeholder="Password">
                                <div class="invalid-feedback"></div>
                            </div>
                            <button id="submit" type="submit" value="Login" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#submit').click(function(e) {
            e.preventDefault();

            let button = $(this);
            button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

            let usernameField = $('#usernameField');
            let passwordField = $('#passwordField');

            let payload = {
                username: usernameField.val(),
                password: passwordField.val(),
            };

            $.ajax({
                url: '{% url 'apiLogin' %}',
                type: 'POST',
                data: payload,
                dataType: 'json',
                success: function(data) {
                    console.log(data.redirect);
                    window.location = data.redirect;
                },
                error: function(data) {
                    let err = JSON.parse(data.responseText);
                    $('.invalid-feedback').text(err.desc);
                    $('#passwordField, #usernameField').addClass('is-invalid');
                    button.html('Submit');
                },
            });
        });

        $('#usernameField, #passwordField').on('keyup', function() {
            $('#usernameField, #passwordField').removeClass('is-invalid');
        });
    </script>
{% endblock %}