{% extends 'base.html' %}

{% block content %}
    <div class="login_tab">
        <form>
            <p>Adres e-mail:</p>
            <div class="input_tab">
                <input type="text" name="email" placeholder="Wpisz adres e-mail...">
            </div>
            <p>Hasło:</p>
            <div class="input_tab">
                <input type="text" name="email" placeholder="Wpisz hasło...">
            </div>

            <button class="reg_button_disabled" disabled type="submit" value="Zaloguj">Zaloguj się</button>
        </form>
    </div>
{% endblock %}