{% block messages %}
    <div class="product_messages_owner tab">
        <div class="header">Wiadmości</div>
        <div class="closer"></div>
        <div class="container">
            <p>Aktualne ogłoszenia</p>
            <hr/>
            <div>
                <!-- zdjęcie -->
                <div>
                    <img src="test.png" alt="">
                </div>
                <!-- dane -->
                <div>
                    <div class="product_info">
                        <div>Wacław Wawrzyniak</div>
                        <div>Język polski</div>
                        <div>Używana</div>
                    </div>
                    <div class="product_actions">
                        <div class="button" data-inbox="id">Skrzynka</div>
                    </div>
                </div>
            </div>
            <div>
                <!-- zdjęcie -->
                <div>
                    <img src="test.png" alt="">
                </div>
                <!-- dane -->
                <div>
                    <div class="product_info">
                        <div>Wacław Wawrzyniak</div>
                        <div>Język polski</div>
                        <div>Używana</div>
                    </div>
                    <div class="product_actions">
                        <div class="button" data-inbox="id">Skrzynka</div>
                    </div>
                </div>
            </div>
            <p>Inne ogłoszenia</p>
            <hr/>
            <div>
                <!-- zdjęcie -->
                <div>
                    <img src="test.png" alt="">
                </div>
                <!-- dane -->
                <div>
                    <div class="product_info">
                        <div>Wacław Wawrzyniak</div>
                        <div>Język polski</div>
                        <div>Używana</div>
                    </div>
                    <div class="product_actions">
                        <div class="button" data-inbox="id">Skrzynka</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="user_messages tab">
            <div class="header">Skrzynka</div>
            <div class="closer"></div>
            <div class="container">
                <div data-id="id">
                    <div>Tomek</div>
                    <div></div>
                </div>
                <div data-id="id">
                    <div>Andrzej</div>
                    <div class="new_message"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}