{% extends 'base.html' %}

{% block content %}
    <div class="product_tab">
        <div class="container">
            <!-- tutaj będzie div z wyświetlaniem fotosów. jeszcze go dopiszę potem -->
            <div class="photo">
                <!-- Wypisanie ścieżek do zdjęć danego produktu, żeby potem js'em je wyświetlić -->
                <div class="photo_names" style="display: none;">
                    <i>*ścieżka do foto nr 1*</i>
                    <i>*ścieżka do foto nr 2*</i>
                    <i>*ścieżka do foto nr 3*</i>
                    itd...
                </div>
            </div>
            <!-- niebieski pasek z głównym info o produkcie -->
            <div class="bar">
                <!-- uwaga: jest odwrotna kolejność niż w przypadku listowania wszystkich produktów przy shop_tab -->
                <div>Język polski</div>
                <div>Wacław Wawrzyniak</div>
            </div>
            <div class="info">
                <div>Wystawone przez: *IMIĘ*</div>
                <br/>
                <div>
                    <p>Opis wystawiającego
                    <p>
                    <p>*OPIS*</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}