{% block products %}
    <div class="user_products tab">
        <div class="header">Twoje ogłoszenia</div>
        <div class="closer"></div>
        <div class="container">
            <p>Aktualne ogłoszenia</p>
            <hr/>
            <div>
                <!-- zdjęcie -->
                <div>
                    <img src="{{'static/Images/test.png'}}" alt="">
                </div>
                <!-- dane -->
                <div id="productContainer2">
                    <div class="product_info">
                        <div>Wacław Wawrzyniak</div>
                        <div>Język polski</div>
                        <div>Używana</div>
                    </div>
                    <div class="product_actions">
                        <p>Ustawienia ugłoszenia</p>
                        <div class="button">Oznacz jako nieaktualne</div>
                        <div class="button">Edycja</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}