{% extends 'base.html' %}

{% block content %}
    <div class="register_tab">
        <form>
            <p>Adres e-mail:</p>
            <div class="input_tab">
                <input type="text" name="email" placeholder="Wpisz adres e-mail...">
            </div>
            <p>Hasło:</p>
            <div class="input_tab">
                <input type="text" name="email" placeholder="Wpisz hasło...">
            </div>
            <p>Powtórz hasło:</p>
            <div class="input_tab">
                <input type="text" name="email" placeholder="Wpisz ponownie hasło...">
            </div>
            <p>Imię:</p>
            <div class="input_tab">
                <input type="text" name="email" placeholder="Wpisz swoje imię...">
            </div>

            <div class="eula">
                <div class="checkbox_div_unselected pointer" style="float: left"><i class="fas fa-check"></i></div>
                <div>
                    <p class="ann_eula">
                        Oświadczam, że zapoznałem się z treścią
                        <a href="regulamin.pdf" target="_blank">regulaminu</a>
                        oraz
                        <a href="polityka_prywatnosci.pdf" target="_blank">polityką prywatności</a>
                        i akceptuję ich treść.
                    </p>
                </div>
            </div>
            <button class="reg_button_disabled" disabled type="submit" value="Zaloguj">Zarejestruj się</button>
        </form>
    </div>
{% endblock %}