{% block register %}
    <div class="register tab">
        <div class="header">Rejestracja</div>
        <div class="closer"></div>
        <div class="container">
            <form id="register" action="{% url 'apiRegister' %}">
                <div>
                    <div class="form-line-holder">
                        <p class="annotation">Imię</p>
                        <input type="text" name="name" required>
                    </div>
                    <div class="form-line-holder">
                        <p class="annotation">E-mail</p>
                        <input type="text" name="email" required>
                    </div>
                    <div class="form-line-holder">
                        <p class="annotation">Hasło</p>
                        <input type="text" name="pass1" required>
                    </div>
                    <div class="form-line-holder">
                        <p class="annotation">Powtórz hasło</p>
                        <input type="text" name="pass2" required>
                    </div>
                </div>

                <button class="button" type="submit" value="Zaloguj">Zarejestruj się</button>
            </form>
        </div>
    </div>
{% endblock %}