{% block shop %}
    <!-- DIV do przegląania zamieszczonych ogłoszeń -->
        <div class="shop">
            <!-- w data-id potrzebne jest id produktu,
            żebym ajaxem wysłał zapytanko o wyświetlenie konkretnego produktu -->
            <div data-id="product-id">
                <div class="product_image">
                    <!-- jeśli będzie kilka zdjęć, to wyświetlić tylko jedno z nich -->
                    <img src="{{'static/Images/test.png'}}" alt="">
                </div>
                <!-- wypisanie podstawowych info o danym listowaniu -->
                <div class="product_info">
                    <div>Wacław Wawrzyniak</div>
                    <div>Język polski</div>
                    <div>Używana</div>
                </div>
            </div>
            <!-- rozdzielnik. super by było jakbyście dali go radę nie wyświetlać na końcu -->
            <br/>
            <!-- reszta to samo, zostawiam żeby Wam schemat wzoru zostawić -->
            <div data-id="product-id">
                <div class="product_image">
                    <img src="{{'static/Images/test.png'}}" alt="">
                </div>
                <div class="product_info">
                    <div>Wacław Wawrzyniak</div>
                    <div>Język polski</div>
                    <div>Używana</div>
                </div>
            </div>
            <br/>
            <div data-id="product-id">
                <div class="product_image">
                    <img src="{{'static/Images/test.png'}}" alt="">
                </div>
                <div class="product_info">
                    <div>Wacław Wawrzyniak</div>
                    <div>Język polski</div>
                    <div>Używana</div>
                </div>
            </div>
            <br/>
        </div>
{% endblock %}