{% block sort %}
<div class="sorting tab">
    <div class="header">Sortowanie</div>
    <div class="closer"></div>
    <div class="container">
        <p>Gatunek</p>
        <hr />
        <select id="sortGenreSelect" name="genre" required>
            <option value="" disabled selected>- Wybierz kategorię -</option>
        </select>
        <p>Lokalizacja</p>
        <hr />
        <select id="sortLocationSelect" name="localization" required>
            <option value="" disabled selected>- Wybierz lokalizację -</option>
        </select>
        <p>Opcje sortowania</p>
        <hr />
        <select id="sortOrderSelect" name="localization" required>
            <option value="" disabled selected>- Wybierz sortowanie -</option>
            <option value="">Rosnąco</option>
            <option value="-">Malejąco</option>
        </select>
        <p>Stan książki</p>
        <hr />
        <select id="sortConditionSelect" name="condition" required>
            <option value="" disabled selected>- Wybierz stan -</option>
        </select>
        <p>Opcje sortowania</p>
        <hr />
        <select id="sortAttributeSelect" name="condition" required>
            <option value="" disabled selected>- Wybierz atrybut -</option>
            <option value="author">Autor</option>
            <option value="date">Data dodania</option>
            <option value="title">Tytuł</option>
        </select>
        <button id="sortSubmitButton" class="button">Zastosuj</button>
    </div>
</div>
{% endblock %}