{% extends 'base.html' %}

{% block content %}
    <div class="sorting">
        <p>Gatunek</p>
        <select name="genre" required>
            <!-- jeśli dodawać gatunki do bazy to tutaj żeby je wypisać -->
            <option value="*gatunek*">*gatunek*</option>
            <option value="*gatunek*">*gatunek*</option>
            <option value="*gatunek*">*gatunek*</option>
        </select>
        <!-- <i></i> to będą "bullety" do zaznaczania po zabawie z js -->
        <!-- sortowanie zrobię na podstawie już wyświetlonych produktów w js, tylko może jakieś dane (typu gatunek)
            w dataset'cie by się przydało zrobić. Śmiało modyfikujcie, dodawajcie wedle uznania czy coś-->
        <p>Opcje sortowania</p>
        <span><i></i>Rosnąco (A-Z)</span>
        <span><i></i>Majeljąco (Z-A)</span>
        <p>Opcje sortowania</p>
        <span><i></i>Autorzy</span>
        <span><i></i>Gatunki</span>
        <span><i></i>Tytuły</span>
    </div>
{% endblock %}
