<div class="user_products">
  <p>Aktualne ogłoszenia</p>
  <div>
    <!-- zdjęcie -->
    <div>
      <img src="text.png" alt="">
    </div>
    <!-- dane -->
    <div class="">
      <div class="product_info">
        <div>Wacław Wawrzyniak</div>
        <div>Język polski</div>
        <div>Używana</div>
      </div>
      <div class="product_actions">
        <p>Ustawienia ugłoszenia</p>
        <div>Oznacz jako nieaktualne</div>
        <div>Edycja</div>
      </div>
    </div>

  </div>
</div>
<!--  -->
